
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my_CV</title>
     <link rel="icon" href="favicon.ico">

  </head>


  <body>
        <table cellspacing="10">
            <tr>
                 <td><img src="images\prachi.jfif" alt="pic" height="215" width="200" style="Border-radius:50%"></td>
                 <td><h2><%=names%></h2>
                 <dl>
                 <dt> <%= bio %>  </dt>
                                <dt> <%=college_name%> </dt>
<dt><a href="https://www.linkedin.com/in/prachisin26" target="_blank">Linkdin profile</a></dt>

                                
                       </dl>
                     

                 </td>
            </tr>
        </table>
       <hr size="1" noshade>
       <h3><b>Qualification details:-</b></h3>
         <table cellpadding="10" border="1" noshade >
             <tr>
              <th>Place</th>
              <th>Board</th>
              <th>Exam</th>
              <th>Session</th>
              <th>Percentage</th>
             </tr>
             <tr>
               <td>shanti niketan senior secondary school,muzaffarpur,bihar</td>
               <td>
                      <a href="https://www.cbse.gov.in/">C.B.S.E Board</a>
               </td>
               <td>Matriculation</td>
               <td>2016-17</td>
               <td>95.0%</td>
             </tr>
             <tr>
               <td> S.L.I.E.T, Punjab</td>
               <td>
                      <a href="https://www.sliet.ac.in/">Central Board</a>
               </td>
               <td>diploma</td>
               <td>2018-21</td>
               <td>78.9%</td>
             </tr>
             <tr>
               <td>S.L.I.E.T, Punjab</td>
               </td>
                <td><a href="https://www.sliet.ac.in/">Central Board</a></td>
               <td>B.tech</td>
               <td>2021-present</td>
<td> ----</td>
             </tr>
         </table>
          <hr size="1" noshade>
       <h3>Technical Skills</h3>
       <ul>

            <li>C and C++ programming language  </li>
            <li>HTML,CSS,Javascript and Bootstrap. </li>
            <li>node.js</li>
            <li>dsa </li>

       </ul>

      <hr size="1" noshade>
     <h3>Hobbies</h3>
     <ul>
         <li>exploring new technologies</li>
         <li>listening music</li>
         <li>Solving the real world problem through programming.</li>
         <li>Excersice.</li>
     </ul>
          <hr size="1" noshade>
         <h3>Personal Information</h3>
 <label><b>Father Name:-</b>  Mr. deo narayan pd.</label>
        
         <p><strong><ul>Strength</strong><br><li>Ambitious and always keen to do well excellent verbal and communication skills to relate wide range of people.</p> 
	<p><li>My work ethic is, “Any Goal Can Be Achieved By endless efforts and full determination”.</p>
        
         <label><b>Permanent Residance:-</b></label>
          <p>mithanpura,muzaffarpur,bihar. pin:-242002</p>

          </body>
</html>
